:root {
  --primary-color: #00fbfb;
  --secondary-color: #e300c8;
  --white-color: #fff;
  --black-color: #000;
  --transition: 0.3s all linear;
  --background-color: #0a0726;
  --font-family: "HelveticaNeue";
}

.home-page section {
  margin-bottom: 6rem;
}

.home-page {
  overflow: hidden;
}

.title {
  font-size: 32px;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

/* course offline */
.course-offline {
  z-index: 1;
}

.course-offline-decor {
  z-index: -1;
  right: -395px;
  top: -17%;
}

.course-offline .content {
  padding: 30px 40px;
}

.course-offline .course {
  margin: 10px 10px 40px;
}

.course-offline .video {
  height: 380px;
}

.course-offline .text {
  margin-top: 16px;
}

.course-offline .text .heading {
  font-size: 18px;
}

.course-offline .text button {
  margin-top: 8px;
  padding: 4px 15px;
  border-radius: 15px;
  background: transparent;
  border: 1px solid var(--white-color);
}

@media only screen and (max-width: 1160px) {
  /* course offline */
  .course-offline .video {
    height: 280px;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 17px;
  }

  /* course offline */
  .course-offline .content {
    padding: 20px 10px;
  }

  .course-offline .video {
    height: 210px;
  }

  .course-offline .text .heading {
    font-size: 16px;
  }

  .course-offline .text button {
    border-radius: 8px;
  }
}
